---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <div style="margin-top: 3rem;">
    <script src="https://giscus.app/client.js"
            data-repo="Shalex59/Predicting-Polymer-Chromatography-Conditions-with-Machine-Learning---Research-B"
            data-repo-id="R_kgDOS9i-6w"
            data-category="Announcements"
            data-category-id="DIC_kwDOS9i-684DAAjl"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="noborder_light"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</article>
